:root {
    --primary-color: #156635;
    --secondary-color: #A6B5AD;
    --accent1-color: #2C2528;
    --accent2-color: #E5DCE1;
    --heading-font: "Roboto", san-serif;
    --body-font: "Lato", san-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.wwr-logo {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    background-color: none;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: blank;
    justify-content: space-evenly;
    align-items: center;
    color: var(--accent1-color);
    padding: 1 rem;
    text-decoration: none;
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 16px;
    padding: 0;
    font-family: var(--heading-font);
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}


.hero article img {
    float: center;
    width: 125px;
}

figure {
    border: thin silver solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: none;
    color: none;
    padding: 3px;
    text-align: center;
    font: var(--body-font);
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    margin: 1rem auto;
    display: flex;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

footer .socialmedia {
    display: flex;
    gap: 10px;
}

footer .socialmedia img {
    width: 30px;
    height: auto;
}